---
const { name, image } = Astro.props;
---
<div class="w3-display-container">
  <img src={image} style="width:100%" alt="Avatar">
  <div class="w3-display-bottomleft w3-container w3-text-black">
    <h2>{name}</h2>
  </div>
</div>