---

---
<div class="w3-container">
  <h5 class="w3-opacity"><b>Front End Developer / w3schools.com</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2015 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
  <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
  <hr>
</div>
<div class="w3-container">
  <h5 class="w3-opacity"><b>Web Developer / something.com</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2012 - Dec 2014</h6>
  <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.</p>
  <hr>
</div>
<div class="w3-container">
  <h5 class="w3-opacity"><b>Graphic Designer / designsomething.com</b></h5>
  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jun 2010 - Mar 2012</h6>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p><br>
</div>